<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="//db.onlinewebfonts.com/c/58ff7449c6481f21047ea79d6ce41264?family=FS+Albert+Arabic+Web" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>landing </title>
</head>
<body>

  <body >
    <nav class="disk" id="navbar">
      <div class="left-nav">
        <a class="a" href="#about">عن البرنامج</a> 
        <a class="a" href="#objectives">آهداف البرنامج </a> 
        <a class="a" href="#j-program">رحلة البرنامج</a>
        <a class="a" href="#Q">الاسئلة</a>
  
      </div>
      <div class="logo"><img alt=" logo" src="imges/T-Valley-W.png"></div>
    </nav>
  
  
  
    <!--- nav mobile  -->
    <nav class="mobile">
      <div class="left">
        <a href="#" id="menu"><span class="menucolor" id="menucolor"><i class="fa fa-bars fa-2x fa-border"></i></span></a>
      </div>
      <div class="mmenu" id="mmenu">
        <ul>
          <li>
           <a class="a" href="#">عن البرنامج</a> 
          </li>
          <li>
           <a class="a" href="#home">آهداف البرنامج </a> 
          </li>
          <li>
           <a class="a" href="#serves">رحلة البرنامج</a>
          </li>
           <li>
             <a class="a" href="#project">الاسئلة</a>
          </li>
          
        </ul>
      </div>
      <div class="logo"><img alt="logo" src="imges/cropped-TaibahV_logo2-2.png"></div>
    </nav>
  

 


   

  


     <!-- Header section -->


     <section class="pt-5 text-center bg-image ">
     <div class="header-content">
       <div class="d-flex">
         <div class="text">
          <hr class="vline">
           <h4>برنامج</h4><br/>
           <h1 class="mb-3"> رائد أعمال الذكاء الاصطناعي المعتمد (CAIE) </h1>
           <p class="mb-3">ابدأ معنا الآن لتتعلم كيفية بناء شركة ناشئة في مجال الذكاء الاصطناعي، واصنع رحلتك الريادية كي تستحق الفوز بحوافز عديدة </p>
          
         


           <div class="header-time">
               <div class="box1-time">
                <i class="fa fa-calendar-o icons-1" aria-hidden="true"></i>
                <p> تاريخ بداية البرنامج:
                
                    <br/>٣ يوليو ٢٠٢٢</p>  
               </div>
               <div class="box2-time">
               <i class="fa fa-globe icons-1" aria-hidden="true"></i>
               <p class="">طريقة تقديم البرنامج:<br/> عبرالإنترنت</p>
           </div>

</div>

    

           <a class="btn btn-outline-light btn-lg" href="#!" role="button">انضم الان </a> 
         </div>
       </div>
       </div>
     <div class="header-logo-imges">
    
     <span><img alt="logo" src="imges/Stallion Logo (1).png"></span>
    
     <span><img alt="logo" src="imges/ritlogo (1).png"></span>
     <span><img alt="logo" src="imges/Iqom Logo (1).png"></span>
     <span><img alt="logo" src="imges/T-Valley-W.png"></span>
   
     </div>
     <div class="line1"></div>
    
     
   </section>

      <!-- end Header section -->

       <!-- About section -->

       <section class="About" id="about">
           <div class="row">
            <div class="col-md-6">
               <h2>نظرة عامة عن البرنامج:</h2>
               <p class="About-title">رائد أعمال الذكاء الاصطناعي المعتمد (CAIE) هو برنامج بطولة عالمية مدته 6 أسابيع مثرية، يزودك بكيفية بناء شركات ناشئة مبتكرة في مجال الذكاء الاصطناعي. سواء كنت طالباً أو رائد أعمالٍ ناشئ أو رائد أعمال مُتمكّن، سيمنحك البرنامج فرصة التعرف على الطريقة المبسطة لبناء الأعمال التي تدفعك إلى النجاح في اقتصاد الذكاء الاصطناعي الجديد.</p>
            </div>
            <div class="col-md-6 ">
                <div class="About-img">
                    <img src="imges/Artificial-intelligence.jpg">

                </div>

            </div>
           </div>

       </section>
        <!-- end  About section -->


       <!-- objectives section4 
    <div class="objectives-section">
        <div class="container">
          <h2 class="title text-center "> أهداف البرنامج</h2>
          <div class="row text-center">
            <div class="col-md-4 col-sm-4 col-xs-12 item">
              <div class="obj-box">
                <div class="icons">
                    <img src="imges/machine-learning1.png">
                  </div>
                 <p>	استكشاف مفاهيم مواطنة وريادة أعمال الذكاء الاصطناعي، وإطار إدارة منتجات التعلم الآلي، ونموذج الأعمال، ومخطط بناء شركات الذكاء الاصطناعي الناشئة (AI-BMC)</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 item">
              <div class="obj-box">
                <div class="icons">
                    <img src="imges/deep-learning-2.png">
                  </div>
                <p>	تحديد واكتشاف حالات استخدام الذكاء الاصطناعي الواقعية التي تزيد من التأثير والجدوى</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 item">
            <div class="obj-box">
                <div class="icons">
                    <img src="imges/machine-learning3.png">
                  </div>
             <p>فهم كيفية إنشاء قيمة من الذكاء الاصطناعي واغتنام الفرص</p>
            </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 item">
              <div class="obj-box">
                <div class="icons">
                    <img src="imges/machine-learning4.png">
                  </div>
             <p>التعرف على أمثلة تطبيقات الذكاء الاصطناعي في العمل عبر مختلف القطاعات</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 item">
             <div class="obj-box"> 
                 <div class="icons">
                <img src="imges/machine-learning4.png">
              </div>
           <p>	إنشاء استراتيجية الدخول إلى السوق ونموذج أولي للذكاء الاصطناعي كجزء من مشروع بدء التشغيل</p></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 item">
             <div class="obj-box">
                <div class="icons">
                    <img src="imges/machine-learning4.png">
                  </div>
                <p>	سيصبح المشتركين في البرنامج رواد أعمال الذكاء الاصطناعي المعتمدينCAIE ، وسيكونون مستعدين لعرض مشاريعهم الناشئة وطرح افكارهم على شركات رأس المال الاستثماري الإقليمية والدولية مع إمكانية التمويل السخي</p>
                
             </div>
        </div>
            
          </div>
  
        </div>
      </div> --> <!--  end section4 --> 

      <section class="objectives-section" id="objectives">
        <div class="container">
        <div class="row">
          <h2 class="section-heading">أهداف البرنامج</h2>
        </div>
        <div class="row boxs">
          <div class="column">
            <div class="card">
              <div class="icon-img">
                <img src="imges/deep-learning-3.png">
                
              </div>
              <div class="line"></div>
            
              <p>
                استكشاف مفاهيم مواطنة وريادة أعمال الذكاء الاصطناعي، وإطار إدارة منتجات التعلم الآلي، ونموذج الأعمال، ومخطط بناء شركات الذكاء الاصطناعي الناشئة (AI-BMC)
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-img">
                <img src="imges/data-classification.png">
               
              </div>
              <div class="line"></div>
              <p>
                تحديد واكتشاف حالات استخدام الذكاء الاصطناعي الواقعية التي تزيد من التأثير والجدوى
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-img">
                <img src="imges/machine-learning-3.png">
               
              </div>
              <div class="line"></div>
              <p>
                فهم كيفية إنشاء قيمة من الذكاء الاصطناعي واغتنام الفرص
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-img">
                <img src="imges/machine-learning-2.png">
              </div>
              <div class="line"></div>
              <p>
                التعرف على أمثلة تطبيقات الذكاء الاصطناعي في العمل عبر مختلف القطاعات
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-img">
                <img src="imges/deep-learning-3.png">
              </div>
              <div class="line"></div>
              <p>
                إنشاء استراتيجية الدخول إلى السوق ونموذج أولي للذكاء الاصطناعي كجزء من مشروع بدء التشغيل
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-img">
              <img src="imges/learning.png">
            </div>
            <div class="line"></div>
            <p>
              مشتركي البرنامج مستعدين لعرض مشاريعهم وطرح افكارهم  على شركات  رأس المال الاستثماري الإقليمية والدولية مع إمكانية التمويل السخي 

            </p>
          </div>
        </div>
      </div>
      </div>
    </section>

   

   

      <!-- timeline section -->
      <section class="timline" id="j-program">
        <div class="container">
        <div class="heading">
          <h2>رحلة البرنامج</h2>
        </div>
        
      <div class="history-tl-container">
        <ul class="tl">
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              3rd June 2022<br> 7:00 PM
            </div>
            <div class="item-title">تقدّم لتقييم مواطنة الذكاء الاصطناعي</div>
            <div class="item-detail">يبدأ البرنامج  بتقييم معرفتك وأهدافك الوظيفية. سواء كنت طالباً أو محترفاً أو رائد أعمالٍ، سنتمكن وبغضون دقائق معدودة من:</div>
     
        <ul class="time-list">
          <li>قياس مستوى معرفتك بالذكاء الاصطناعي وريادة الأعمال في مجالك</li>
          <li>رسم مسار تعلم مستقبلي مخصص لك</li>
          <li>مقارنة مستوى معرفتك وفهمك لمشاريع الذكاء الاصطناعي مع الآخرين من نفس مجالك</li>
          <li>سيساعدك التقييم على وضعك في الفريق المناسب أثناء البرنامج</li>
        </ul>
     
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              19th June 2022<br> 3:00 PM
            </div>
            <div class="item-title">احصل على مواطنة الذكاء الاصطناعي الخاصة بك</div>
            <div class="item-detail"></div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              1st June 2022<br> 7:00 PM
            </div>
            <div class="item-title">ابدأ رحلة ريادة أعمال الذكاء الاصطناعي</div>
            <div class="item-detail"></div>
          </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              1st June 2022<br> 7:00 PM
            </div>
            <div class="item-title">احصل على درجة رائد أعمال الذكاء الاصطناعي المعتمد
      </div>
            <div class="item-detail"></div>
          </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              1st June 2022<br> 7:00 PM
            </div>
            <div class="item-title">الجوائز</div>
            <div class="item-detail"></div>
          </li>
          
      
        </ul>
      </div>
      </div>
    </section>

      <!-- end timeline section -->

       <section class="outcome">
        <div class="container">
        <div class="row">

            <div class="col-md-6 ">
                <h2>مخرجات البرنامج
                </h2>
                <div class="outcom-img">
                    <img src="imges/data-processing.png">
   
                </div>
   
            </div>

         <div class="col-md-6">
           
            <p></p>
            <ui class="list">
                <li> <i class="fa fa-check fw" aria-hidden="true"></i><span> المعرفة بأن تصبح مواطنًا معتمدًا للذكاء الاصطناعي (VAIC)</span></li>
                <li> <i class="fa fa-check fw" aria-hidden="true"></i> <span>تعلم كيفية بناء عقلية الذكاء الاصطناعي لرواد الأعمال</span></li>
                <li><i class="fa fa-check fw" aria-hidden="true"></i> <span> تعلم كيفية إدارة مشاريع الذكاء الاصطناعي باستخدام إطار مشروع التعلم الآلي (ML)
                </span> <br><span class="list-p">AI Business Model Canvas (AI-BMC)  </span>
                   </li>
                <li> <i class="fa fa-check fw" aria-hidden="true"></i> <span>تعلم كيفية إنشاء نماذج  ML  </span></li>
                <li> <i class="fa fa-check fw" aria-hidden="true"></i> <span>تعلم كيفية عرض المشاريع الناشئة وزيادة التمويل من شركات رأس المال الاستثماري </span></li>
            </ui>
         </div>
        
        </div>
        </div>

    </section> 








   <!-- bar section-->
      <!--<div class="q-container">
        <div class="p-box">
  
          <div class="q-box box-styling">
           
            <div class="inner-box-styling">
             <h3>القانون </h3>
             <img src="imges/scale.png">
             
            </div>
          </div>

          <div class="q-box box-styling">
           
            <div class="inner-box-styling">
             <h3>الرياضة </h3>
             <img src="imges/scale.png">
             
            </div>
          </div>


          <div class="q-box box-styling">
           
            <div class="inner-box-styling">
             <h3>الرياضة </h3>
             <img src="imges/scale.png">
             
            </div>
          </div>

          <div class="q-box box-styling">
           
            <div class="inner-box-styling">
             <h3>الرياضة </h3>
             <img src="imges/scale.png">
             
            </div>
          </div>
          <div class="q-box box-styling">
           
            <div class="inner-box-styling">
             <h3>الرياضة </h3>
             <img src="imges/scale.png">
             
            </div>
          </div>
          <div class="q-box box-styling">
           
            <div class="inner-box-styling">
             <h3>الرياضة </h3>
             <img src="imges/scale.png">
             
            </div>
          </div>
          <div class="q-box box-styling">
           
            <div class="inner-box-styling">
             <h3>الرياضة </h3>
             <img src="imges/scale.png">
             
            </div>
          </div>

          

          </div>
          </div>-->




         <!-- <div>
            <h3></h3>
            <div class="bar-box">
              <div>
                <img src="imges/training.png">
              </div>
                <p>التعليم</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/engineer.png">
              </div>
                <p>الهندسة</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/recycle.png">
              </div>
                <p>علوم الحياة والطبيعة</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/scale.png">
              </div>
                <p>القانون</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/astronaut.png">
              </div>
                <p>الفضاء</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/cardio.png">
              </div>
                <p>الصحة</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/smart-city.png">
              </div>
                <p>المدن الذكية</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/select.png">
              </div>
                <p>ريادة الاعمال</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/banking.png">
              </div>
                <p>البنوك</p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/cyber-security.png">
              </div>
                <p>الامن </p>
            
            </div>
            <div class="bar-box">
              <div>
                <img src="imges/running.png">
              </div>
                <p>الرياضة</p>
            
            </div>
          </div>-->

   <div class="sectors-section">
     <div class="container con-1">
       <h3></h3>
       <div class="row con-2">
         <div class="col-md-2 col-sm-4 col-xs-4">
           <div class="bar-box">
            <img src="imges/training.png">
            <p>التعليم</p>
           </div>
         </div>

         <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
           <img src="imges/running.png">
           <p>الرياضة</p>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
          
            <img src="imges/engineer.png">
           <p>الهندسة</p>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/recycle.png">
           <p>علوم الحياة والطبيعة</p>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/scale.png">

           <p>القانون</p>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/astronaut.png">
           <p>الفضاء</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/cardio.png">
           <p>الصحة</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/smart-city.png">
           <p>المدن الذكية</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/select.png">
           <p>ريادة الاعمال </p>
          </div>
        </div>
       
      
        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/cyber-security.png">
           <p>الامن </p>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/banking.png">
           <p>البنوك</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="bar-box">
            <img src="imges/gavel.png">
           <p>المحاماه</p>
          </div>
        </div>



       </div>
       
     </div>
   </div>




   <!-- end bar section-->

   


   <div class="jon">
    <div class="ontainer">
      <h4 class="text-center">
      هل انت جاهز للبدء ؟  
      <a class="btn btn-outline-light btn-lg align" href="#!" role="button">انضم الان </a> 
      </h4>
    </div>
    
  </div>



      <!-- FAQ section -->
      <section class="faq" id="Q">
    
      <h2>الأسئلة الشائعة</h2>

      <div class="accordion">
       
        <div class="accordion-item">
          <div class="accordion-item-header">
            <p>ما هو الموعد النهائي للتسجيل؟ </p>
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p>  ٢٠٢٢  </p>           </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
           <p>متى سيبدأ البرنامج؟ </p> 
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
               <p>تاريخ البداية ٣ يوليو ٢٠٢٢ </p> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            <p>ما هو الوقت المتوقع لإنهاء مدة البرنامج؟ </p> 
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p> يمكنك إنهاء البرنامج خلال ٦ اسابيع </p>             </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
           <p> من هم الاشخاص المؤهلين للتسجيل؟ </p> 
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <p>البرنامج مصمم لرواد الأعمال الحاليين والمستقبليين، المهتمين في الذكاء الاصطناعي، الراغبين في استكشاف مجال ريادة الاعمال حتى وان لم تكن تملك تجربة ريادية سابقة، حديثي التخرج وطلاب الجامعة </p>            </div>
          </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
              <p>  ما هي لغة البرنامج؟  </p> 
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                <p>يُقدم برنامج رائد اعمال الذكاء الاصطناعي باللغة العربية  </p>             </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-item-header">
               <p>هل يتم الحصول على شهادة إتمام للبرنامج؟  </p>           </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
               <p>سيحصل المشاركين على شهادة رائد اعمال الذكاء الاصطناعي المعتمد CAIE عند إتمام البرنامج </p>              </div>
            </div>
          </div>
      </div>

    </section>
       <!-- FAQ  section -->


   
       
       <footer class="container-fluid pt-1">
        <div class="container bottom_border pt-1">
        <div id="thumbs">
        <img width="100" height="70" src="imges\T-Valley-W.png" alt="Taibah Valley">
        <img width="100" height="40" src="imges\Iqom Logo (1).png" alt="Iqom Logo">
        <img width="100" height="15" src="imges\ritlogo (1).png" alt="RIT logo">
        <img width="110" height="10" src="imges\Stallion Logo (1).png" alt="Stallion Logo">
        </div>
        </div>
        
        <div class="container">
        <ul class="social_footer_ul">
        <li><a href="https://www.taibahvalley.com.sa/"><i class="fa fa-globe"></i></a></li>
        <li><a id="weblink" href="https://www.taibahvalley.com.sa/">Taibahvalley.com.sa</a></li>
          
        <li><a href="https://twitter.com/TaibahValley"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/taibah.valley"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/in/taibah-valley-230469176/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-snapchat"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCkuzLmaLDHSCVIvfvR09JUw"><i class="fa fa-youtube"></i></a></li>
        <li><p dir="ltr" class="text-center">@TaibahValley</p></li>
        </ul>
        </div>
        </footer>

  
      


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="main.js"></script>
</body>
</html>